[submodule "aFileChooser"]
	path = aFileChooser
	url = git@github.com:TomTasche/aFileChooser.git
[submodule "Android-AppMsg"]
	path = Android-AppMsg
	url = git://github.com/johnkil/Android-AppMsg.git
[submodule "AndroidBillingLibrary"]
	path = AndroidBillingLibrary
	url = git://github.com/robotmedia/AndroidBillingLibrary.git
[submodule "filepicker-android"]
	path = filepicker-android
	url = git://github.com/Filepicker/filepicker-android.git
