[submodule "aFileChooser"]
	path = aFileChooser
	url = git://github.com/TomTasche/aFileChooser.git
[submodule "Android-AppMsg"]
	path = Android-AppMsg
	url = git://github.com/TomTasche/Android-AppMsg.git
[submodule "odf2html"]
	path = odf2html
	url = git://github.com/andiwand/odf2html.git
[submodule "pay-me"]
	path = pay-me
	url = git://github.com/TomTasche/pay-me.git
[submodule "Android-RateThisApp"]
	path = Android-RateThisApp
	url = git://github.com/TomTasche/Android-RateThisApp.git
[submodule "android-support-v7"]
	path = android-support-v7
	url = git://github.com/TomTasche/android-support-v7.git
[submodule "Chromecast"]
	path = Chromecast
	url = git://github.com/TomTasche/Chromecast.git
[submodule "android-support-v7-mediarouter"]
	path = android-support-v7-mediarouter
	url = git://github.com/TomTasche/android-support-v7-mediarouter.git
