<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="at.tomtasche.reader"
	android:versionCode="15"
	android:versionName="1.2.3"
	android:installLocation="auto">

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">
		<activity
			android:name=".activity.OpenActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden">
			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text-template" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text-template" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:name=".odt.ImageProvider"
			android:authorities="at.tomtasche.reader" />
	</application>

	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true" />

	<uses-permission
		android:name="android.permission.INTERNET" />

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="7" />
</manifest>