<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="at.tomtasche.reader"
	android:versionCode="19"
	android:versionName="1.2.7"
	android:installLocation="auto">

	<application
		android:icon="@drawable/icon"
		android:label="@string/app_name">

		<activity
			android:name="at.enajat.david.android.filechooser.FileChooser"
			android:label="@string/chooser_name"
			android:configChanges="orientation|keyboardHidden">

			<intent-filter>
				<action
					android:name="android.intent.action.GET_CONTENT" />
				<category
					android:name="android.intent.category.OPENABLE" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.*" />
			</intent-filter>
		</activity>

		<activity
			android:name=".ui.activity.OfficeActivity"
			android:label="@string/app_name"
			android:configChanges="orientation|keyboardHidden"
			android:theme="@android:style/Theme.Black.NoTitleBar">

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text-template" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.text-template" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.DEFAULT" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.VIEW" />
				<category
					android:name="android.intent.category.BROWSABLE" />
				<data
					android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />
			</intent-filter>

			<intent-filter>
				<action
					android:name="android.intent.action.MAIN" />
				<category
					android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:name=".background.openoffice.ImageProvider"
			android:authorities="at.tomtasche.reader" />
	</application>

	<supports-screens
		android:resizeable="true"
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"
		android:anyDensity="true" />

	<uses-permission
		android:name="android.permission.INTERNET" />
	<uses-permission
		android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="false" />

	<uses-sdk
		android:minSdkVersion="3"
		android:targetSdkVersion="9" />
</manifest>