<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:installLocation="auto"
        android:versionCode="172"
        android:versionName="3.19"
        package="at.tomtasche.reader"
        tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false" />

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>

        <!-- to support finding files -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="application/*" />
        </intent>

        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_title"
            android:theme="@style/MainTheme"
            android:name="androidx.multidex.MultiDexApplication"
            tools:replace="android:label"
            android:requestLegacyExternalStorage="true"
            android:allowNativeHeapPointerTagging="false">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-8161473686436957~9025061963" />

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />

        <activity
                android:name="at.tomtasche.reader.ui.activity.MainActivity"
                android:label="@string/app_title"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
                android:name="at.tomtasche.reader.ui.activity.MainActivity.STRICT_CATCH"
                android:label="@string/app_title"
                android:targetActivity="at.tomtasche.reader.ui.activity.MainActivity"
                android:exported="true"
                tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name="at.tomtasche.reader.ui.activity.MainActivity.CATCH_ALL"
                android:label="@string/app_title"
                android:targetActivity="at.tomtasche.reader.ui.activity.MainActivity"
                android:exported="true"
                tools:ignore="AppLinkUrlError">
            <!-- necessary for Samsung "My Files" - https://stackoverflow.com/a/52624829/198996 -->
            <!-- Matches intents by file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>
            <!-- Matches intents by file extension when an empty MIME type is set -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />

                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />

                <data android:mimeType="application/octet-stream" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />

                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:host="*" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt" />

                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods" />

                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp" />

                <data android:pathPattern=".*\\.odg" />
                <data android:pathPattern=".*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg" />

                <data android:pathPattern=".*\\.odt" />
                <data android:pathPattern=".*\\.ods" />
                <data android:pathPattern=".*\\.odp" />
                <data android:pathPattern=".*\\.odg" />
            </intent-filter>
        </activity-alias>

        <activity
                android:name="com.nononsenseapps.filepicker.FilePickerActivity"
                android:enabled="@bool/filepicker_enabled"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:excludeFromRecents="true"
                android:exported="false"
                android:label="@string/dialog_title_choose_file"
                android:theme="@style/NNF_BaseTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.*" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />

                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="application/vnd.oasis.opendocument.*" />
            </intent-filter>
        </activity>

        <activity
                android:name="at.tomtasche.reader.ui.activity.IntroActivity"
                android:icon="@mipmap/ic_launcher"
                android:roundIcon="@mipmap/ic_launcher_round"
                android:excludeFromRecents="true"
                android:exported="false"
                android:label="@string/app_title"
                android:theme="@style/IntroTheme" />

        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                tools:replace="android:theme"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/cache_provider_paths" />
        </provider>
    </application>

</manifest>
