<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="at.tomtasche.reader"
          android:installLocation="auto"
          android:versionCode="90"
          android:versionName="3.0.23"
          tools:ignore="GoogleAppIndexingWarning">

    <!-- added by HelpCrunch SDK otherwise -->
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            tools:node="remove" />
    <uses-feature
            android:name="android.hardware.camera.any"
            tools:node="remove" />
    <uses-permission
            android:name="android.permission.CAMERA"
            tools:node="remove" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <!--CSJ-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--TalkingData-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--Dataeye-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!--Mintegral-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/icon"
            android:roundIcon="@mipmap/icon_round"
            android:label="@string/app_title"
            android:theme="@style/MainTheme"
            android:name="at.tomtasche.reader.nonfree.ChinaApplication">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-8161473686436957~9025061963"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <activity
                android:name=".ui.activity.MainActivity"
                android:label="@string/app_title"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity-alias
                android:name=".ui.activity.MainActivity.STRICT_CATCH"
                android:label="@string/app_title"
                android:targetActivity=".ui.activity.MainActivity"
                tools:ignore="AppLinkUrlError">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text-template"/>

                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet"/>
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template"/>

                <data android:mimeType="application/vnd.oasis.opendocument.presentation"/>
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template"/>

                <data android:mimeType="application/octet-stream"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt"/>

                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods"/>

                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp"/>

                <data android:pathPattern=".*\\.odg"/>
                <data android:pathPattern=".*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\.odg"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt"/>

                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods"/>

                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp"/>

                <data android:pathPattern=".*\\.odg"/>
                <data android:pathPattern=".*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\.odg"/>
            </intent-filter>
        </activity-alias>

        <activity-alias
                android:name=".ui.activity.MainActivity.CATCH_ALL"
                android:label="@string/app_title"
                android:targetActivity=".ui.activity.MainActivity"
                tools:ignore="AppLinkUrlError">
            <!-- necessary for Samsung "My Files" - https://stackoverflow.com/a/52624829/198996 -->
            <!-- Matches intents by file extension -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
            </intent-filter>
            <!-- Matches intents by file extension when an empty MIME type is set -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="application/vnd.oasis.opendocument.text"/>
                <data android:mimeType="application/vnd.oasis.opendocument.text-template"/>

                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet"/>
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template"/>

                <data android:mimeType="application/vnd.oasis.opendocument.presentation"/>
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template"/>

                <data android:mimeType="application/octet-stream"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt"/>

                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods"/>

                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp"/>

                <data android:pathPattern=".*\\.odg"/>
                <data android:pathPattern=".*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\.odg"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>

                <data android:scheme="content"/>
                <data android:scheme="file"/>
                <data android:host="*"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odt"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odt"/>

                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ods"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ods"/>

                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odp"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odp"/>

                <data android:pathPattern=".*\\.odg"/>
                <data android:pathPattern=".*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.odg"/>
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.odg"/>

                <data android:pathPattern=".*\\.odt"/>
                <data android:pathPattern=".*\\.ods"/>
                <data android:pathPattern=".*\\.odp"/>
                <data android:pathPattern=".*\\.odg"/>
            </intent-filter>
        </activity-alias>

        <activity
                android:name="com.nononsenseapps.filepicker.FilePickerActivity"
                android:icon="@mipmap/icon"
                android:roundIcon="@mipmap/icon_round"
                android:excludeFromRecents="true"
                android:exported="false"
                android:label="@string/dialog_title_choose_file"
                android:theme="@style/NNF_BaseTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>

                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="application/vnd.oasis.opendocument.*"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT"/>

                <category android:name="android.intent.category.OPENABLE"/>

                <data android:mimeType="application/vnd.oasis.opendocument.*"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".ui.activity.IntroActivity"
                android:icon="@mipmap/icon"
                android:roundIcon="@mipmap/icon_round"
                android:excludeFromRecents="true"
                android:exported="false"
                android:label="@string/app_title"
                android:theme="@style/IntroTheme"/>

        <provider
                android:name=".background.FileProvider"
                android:authorities="at.tomtasche.reader"
                android:exported="false"/>

        <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                tools:replace="android:theme"/>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="at.tomtasche.reader.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/nnf_provider_paths"/>
        </provider>

        <!-- Mintegral  start-->
        <activity
                android:name="com.mintegral.msdk.activity.MTGCommonActivity"
                android:configChanges="keyboard|orientation"
                android:screenOrientation="portrait"
                android:exported="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                >
        </activity>

        <receiver android:name="com.mintegral.msdk.click.AppReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <service android:name="com.mintegral.msdk.shell.MTGService" >
            <intent-filter>
                <action android:name="com.mintegral.msdk.download.action" />
            </intent-filter>
        </service>

        <activity
                android:name="com.mintegral.msdk.reward.player.MTGRewardVideoActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- Mintegral  end-->

        <!---CSJ Start-->

        <provider
                android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
                android:authorities="at.tomtasche.reader.TTFileProvider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
        </provider>

        <provider
                android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
                android:authorities="at.tomtasche.reader.TTMultiProvider"
                android:exported="false" />

        <activity
                android:name="com.bytedance.sdk.openadsdk.activity.TTLandingPageActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTask" />
        <activity
                android:name="com.bytedance.sdk.openadsdk.activity.TTVideoLandingPageActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTask" />
        <activity
                android:name="com.bytedance.sdk.openadsdk.activity.TTRewardVideoActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTask" />
        <activity
                android:name="com.bytedance.sdk.openadsdk.activity.TTFullScreenVideoActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:launchMode="singleTask" />
        <activity
                android:name="com.bytedance.sdk.openadsdk.activity.TTDelegateActivity"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.bytedance.sdk.openadsdk.multipro.aidl.BinderPoolService" />
        <service android:name="com.ss.android.socialbase.downloader.notification.DownloadNotificationService" />
        <service android:name="com.ss.android.socialbase.downloader.downloader.DownloadService" />
        <service
                android:name="com.ss.android.socialbase.downloader.downloader.IndependentProcessDownloadService"
                android:process=":downloader" >
            <intent-filter>
                <action android:name="com.ss.android.socialbase.downloader.remote" />
            </intent-filter>
        </service>
        <service android:name="com.ss.android.socialbase.downloader.impls.DownloadHandleService" />
        <service android:name="com.ss.android.socialbase.appdownloader.AppDownloadHandleService" />

        <activity
                android:name="com.ss.android.socialbase.appdownloader.view.DownloadSizeLimitActivity"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Dialog" />
        <activity
                android:name="com.ss.android.socialbase.appdownloader.view.DownloadTaskDeleteActivity"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Dialog" />
        <activity
                android:name="com.ss.android.downloadlib.activity.InteractionMiddleActivity"
                android:launchMode="standard" />

        <receiver android:name="com.ss.android.downloadlib.core.download.DownloadReceiver" />

        <!-- CSJ End-->

        <!-- CSJ-->
        <meta-data android:name="CSJ_APPID" android:value="5011625"/>
        <meta-data android:name="CSJ_INSID" android:value="911625431"/>
        <meta-data android:name="CSJ_VIDEOID" android:value="911625070"/>
        <!-- mintegral-->
        <meta-data android:name="Mintegral_APPID" android:value="113500"/>
        <meta-data android:name="Mintegral_INSID" android:value="85191"/>
        <meta-data android:name="Mintegral_VIDEOID" android:value="85190"/>
        <!--Dataeye -->
        <meta-data android:name="DATAEYE_APPID" android:value="D245369EF68DA4225DBBBF7E8A16BEB2"/>
        <!--talkingdata -->
        <meta-data android:name="APPTUTTI_TALK_APPID" android:value="F3A91682C2CF4F8AA02AAC28CA69D468" />
    </application>

</manifest>