name: OpenDocument-Reader-Android

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    paths-ignore:
      - '**.md'
      - '.github/**'
      - '!.github/workflows/android_main.yml'

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: ninja
      run: sudo apt-get install -y ninja-build
    - name: java
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: 11

    - name: set up python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: install pip and conan
      run: python -m pip install --upgrade pip conan
    - name: conan revisions
      run: conan config set general.revisions_enabled=1
    - name: conan repo
      run: conan remote add odr https://odr.jfrog.io/artifactory/api/conan/odr-conan

    - name: build
      run: ./gradlew clean assembleDebug --scan --stacktrace
  test:
    runs-on: macos-11
    strategy:
      fail-fast: false
      # Make sure the matrix here and in cache_AVD_images.yml is the same
      matrix:
        include:
          # Oldest version we support
          - arch: x86
            api-level: 19
          # Oldest x86_64
          - arch: x86_64
            api-level: 21
          # API diff between 21 and 30 is too big.
          # Need to know if test breaking change was old API or new.
          - arch: x86_64
            api-level: 25
          # Newest x86
          - arch: x86
            api-level: 30
          # Newest in general
          - arch: x86_64
            api-level: 32
    steps:
    - name: checkout
      uses: actions/checkout@v2

    - name: java
      uses: actions/setup-java@v2
      with:
        distribution: 'zulu'
        java-version: 11

    - name: brew
      run: ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" < /dev/null 2> /dev/null
    - name: fix ninja install
      run: rm '/usr/local/bin/2to3'
    - name: ninja
      run: brew install ninja
    # https://stackoverflow.com/a/57758679/198996
    - name: bundler
      run: gem install bundler:1.17.3
    - name: fastlane
      run: bundle install

    - name: pip
      run: python3 -m ensurepip
    - name: conan
      run: pip3 install conan
    - name: conan revisions
      run: conan config set general.revisions_enabled=1
    - name: conan repo
      run: conan remote add odr https://odr.jfrog.io/artifactory/api/conan/odr-conan

    - name: Android Virtual Device (AVD) cache
      uses: actions/cache@v2
      id: avd-cache
      with:
        path: |
          ~/.android/avd/*
          ~/.android/adb*
        key: avd-${{ matrix.arch }}-${{ matrix.api-level }}

    - name: Create AVD and generate snapshot for caching
      if: steps.avd-cache.outputs.cache-hit != 'true'
      uses: reactivecircus/android-emulator-runner@v2
      with:
        api-level: ${{ matrix.api-level }}
        arch: ${{ matrix.arch }}
        target: google_apis
        sdcard-path-or-size: 1G
        script: echo "Generated AVD snapshot for caching."

    # Temp workaround, until https://github.com/ReactiveCircus/android-emulator-runner/pull/219 is included in a release
    - name: Increate storage size for emulator
      run: echo "disk.dataPartition.size=8G" >> /Users/runner/.android/avd/test.avd/config.ini

    - name: Run tests
      uses: reactivecircus/android-emulator-runner@v2
      with:
        force-avd-creation: false
        emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none -no-snapshot-save
        api-level: ${{ matrix.api-level }}
        arch: ${{ matrix.arch }}
        target: google_apis
        sdcard-path-or-size: 1G
        script: |
          mkdir -p testResults/screenshots
          adb logcat > testResults/logcat.txt &

          adb shell screencap /data/local/tmp/beforeTests.png
          adb pull /data/local/tmp/beforeTests.png testResults/screenshots/

          bundle exec fastlane tests || touch sorry_but_tests_are_failing
          adb pull /sdcard/Pictures/screenshots testResults/ || true

          adb shell screencap /data/local/tmp/afterTests.png
          adb pull /data/local/tmp/afterTests.png testResults/screenshots/

          mv app/build/reports/androidTests/connected testResults/
          mv app/build/outputs/androidTest-results testResults/

          test ! -f sorry_but_tests_are_failing

    - uses: actions/upload-artifact@v2
      if: always()
      with:
        name: testResults-${{ matrix.api-level }}-${{ matrix.arch }}
        path: testResults
        if-no-files-found: error
